@import url("http://fonts.googleapis.com/css?family=Sintony:400,700");
@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,500");

body {
  /*background:#bdc3c7;*/
  background-image: url("../../images/squairy_light.png");
  font-family:'Sintony', sans-serif;
  font-size:1.1em;
  color:#222;
  padding:0px;
  margin:0px;
}

a, a:hover {
  text-decoration:none;
  color:#222;
}

#all_items {
  margin-top:10px;
}

#categories {
  font-size:.75em;
  padding-left:15px;
}

.container {
  width:700px;
  margin-left:auto;
  margin-right:auto;
}

.content {
  padding:20px 0px;
  border-top:0px;
}

.content .tab {
  padding-left:90px;
  display:none;
}

.content .active {
  display: block;
}

h1 {
  text-align: center;
}

h2 {
  font-family:'Ubuntu', sans-serif;
  font-size:1.5em;
  margin-left:30px;
  margin-bottom:-15px;
}

i {
  padding:0px 5px;
  cursor:pointer;
}

.inner_container {
  width:700px;
  min-height:400px;
  position:absolute;
  margin-top:50px;
  background-color: rgba(145, 187, 239, 0.3600);
  box-shadow:1px 1px #aaa;
}

.input { 
  padding:0px 10px;
}

label {
  font-family:'Ubuntu', sans-serif;
  font-size:1.1em;
}

label, input {
  display:inline-block;
  padding-left:5px;
  margin-right:20px;
  margin-bottom:10px;
  width:215px;
}

li {
  list-style: none;
}

p {
  padding:2px 0px;
  margin:0px;
}

.tabs {
  font-family:'Ubuntu', sans-serif;
  margin-top:40px;
  text-align:center;
}

.tabs .tab {
  background:#2980b9;
  color:#ecf0f1;
  border:2px solid #2980b9;
  border-bottom-width:0;
  padding:15px 40px;
}

.tabs .active {
  background:#3498db;
  border:2px solid #2980b9;
  border-bottom-width:0;
}

.user_input {
  font-size:1.1em;
}

/*ul {
  padding: 0px;
  margin: 0px;
}*/