<!DOCTYPE html>
<html>
  <head>
    <title>To Do list -- Category List</title>
    <link rel="stylesheet" href="/stylesheets/app/app.css" />
    <link rel="stylesheet" href="/stylesheets/lib/font-awesome.min.css" />
  </head>

  <body>
    <div class="container">
      <div class="inner_container">

        <h1>To Do list</h1>

        <div class="tabs">
          <a class="tab" id="tab_all" href="/todos">All Items</a>
          <a class="tab active" id="tab_categorized" href="/todos/categories">Categorized</a>
          <a class="tab" id="tab_add" href="/todos/new">Add Items</a>
        </div>

        <div class="content">
          <% for (var category in categories) { %>
            <h2><%= category %></h2>
            <ul>
              <% categories[category].forEach(function(todo) { %>
                  <li>
                    <i class="icon-remove"></i>
                    <span class="todo_name"><%= todo %></span>
                  </li>
              <% }); %>
            </ul>
          <% } %>
        </div>

        <!-- <div class="content">
          <div class="tab active" id="all_items"></div>
          <div class="tab" id="categorized"></div>
          <div class="tab input" id="add_items"></div>
        </div> -->

        <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="/javascripts/app/client-app.js"></script>
      </div>
    </div>
  </body>
</html>
